@model Benjamin.PracticoMVC.WebApp.Models.Test.TestModel

@{
    ViewBag.Title = "AgregarUsuario";



}

<h2>Agregar Usuario</h2>
<div class="col-md-6">
    @using (Html.BeginForm("AgregarUsuario", "Test", FormMethod.Post, null))
    {
        <label>
            Rol:
        </label>
        @Html.DropDownList("Lista de Roles", Model.listadoRoles, "--Seleccionar--")



        <br /><br />

        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.USERNAME)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.USERNAME, new
        {
            htmlAttributes = new { @class = "form-control" }
        })




        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.NOMBRES)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.NOMBRES, new { htmlAttributes = new { @class = "form-control" } })



        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.APELLIDOS)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.APELLIDOS, new { htmlAttributes = new { @class = "form-control" } })


        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.RAZON_SOCIAL)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.RAZON_SOCIAL, new { htmlAttributes = new { @class = "form-control" } })



        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.ACTIVO)

        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.ACTIVO)


        <br /><br />

        <input type="submit" value="Enviar" class="btn btn-outline-info" />
    }

</div>

<script src="~/Scripts/Custom/test.js"></script>