@model Benjamin.PracticoMVC.WebApp.Models.Test.TestModel
@{
    ViewBag.Title = "EditarUsuario";
}

<h2> @ViewBag.idUsuario</h2>

<div class="col-md-6">
    @using (Html.BeginForm("EditarUsuario", "Test", FormMethod.Post, null))
    {



        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.ID_USUARIO, new { htmlAttributes = new { @class = "form-control d-none" } })

        


        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.USERNAME)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.USERNAME, new
        {
            htmlAttributes = new { @class = "form-control" }
        })


        <div class="form-group form-group-sm">
            <label>Seleccionar Rol:</label>
            @Html.DropDownListFor(Model => Model.idRolSeleccionado, Model.listadoRoles, htmlAttributes: new { @class = "form-control select2" })
            @Html.ValidationMessageFor(Model => Model.idRolSeleccionado, "", new { @class = "input-error" })
        </div>



        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.NOMBRES)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.NOMBRES, new { htmlAttributes = new { @class = "form-control" } })



        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.APELLIDOS)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.APELLIDOS, new { htmlAttributes = new { @class = "form-control" } })


        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.RAZON_SOCIAL)
        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.RAZON_SOCIAL, new { htmlAttributes = new { @class = "form-control" } })



        @Html.LabelFor(Model => Model.ObjetoUsuarioCliente.ACTIVO)

        @Html.EditorFor(Model => Model.ObjetoUsuarioCliente.ACTIVO)


        <br /><br />

        <input type="submit" value="Enviar" class="btn btn-outline-info" />
    }

</div>