@model Benjamin.PracticoMVC.WebApp.Models.Test.TestModel
@{
    ViewBag.Title = "TablaUsuarios";
}

<h2>Tabla Usuarios</h2>

@if (Model.Mensaje != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.Mensaje</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}


<button id="btnAgregar" name="btnAgregar" class="btn btn-outline-info">@Html.ActionLink("Agregar Usuario", "AgregarUsuario")</button>
<br />
<br />

@*TABLA USUARIOS LLENADA CON RAZOR*@
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">USUARIO</th>
            <th scope="col">ROL</th>
            <th scope="col">NOMBRES</th>
            <th scope="col">APELLIDOS</th>
            <th scope="col">FECHA DE ALTA</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var obj in Model.ListaDeUsuariosyRoles)
        {
            <tr>
                <td>@obj.ID</td>
                <td>@obj.USUARIO</td>
                <td>@obj.ROL</td>
                <td>@obj.NOMBRES</td>
                <td>@obj.APELLIDOS</td>
                <td>@obj.FECHA_ALTA.ToShortDateString()</td>
                <td>@obj.ESTADO</td>
                <td>
                    <button id="btnEditar" name="btnEditar" class="btn btn-outline-info"> @Html.ActionLink("Editar", "EditarUsuario", "Test", new { idUsuario = obj.ID }, null) </button>
                    &nbsp;<button id='btnResetClave' class='btn btn-danger' onclick='resetearClave(@obj.ID)'><i class='fas fa-key'></i></button>
                </td>


            </tr>

        }



    </tbody>
</table>


<script src="~/Scripts/Custom/test.js"></script>